-- See https://www.ibm.com/docs/en/db2-for-zos/11?topic=statements-create-table
-- See https://www.ibm.com/docs/en/db2-for-zos/11?topic=columns-data-types
-- See $request.prettyTemplateName
##
#foreach ($entity in $entities)

-- Entity: ${entity.pkg.value}.${entity.name.upperCamel}
-- PK column count: ${entity.primaryKeyFields.size()}
-- Columns count: ${entity.fields.size()}
CREATE TABLE IF NOT EXISTS ${entity.dbSchemaPrefix}${entity.name.lowerSnake}
(
  #foreach( $field in $entity.primaryKeyFields )
    ##TODO: fix types
    ${field.postgresqlColumnDefinition}#if ($foreach.hasNext || $entity.hasNonPrimaryKeyFields),#end
  #end
  #foreach( $field in $entity.nonPrimaryKeyFields )
    ${field.postgresqlColumnDefinition}#if ($foreach.hasNext),#end
  #end
  ##
  #if ($entity.hasPrimaryKeyFields)
  ,
    $entity.primaryKeyTableConstraint
  #end
  ##TODO: unique constraints
  ##TODO: check constraints
);
#end
