## Generates proto file
## Use ./gradlew generateProto to make java classes
##
syntax = "proto3";

option java_multiple_files = true;
option java_package = "$request.packageName.value";
option optimize_for = SPEED;

package ${request.packageName.value};

#foreach ($entity in $entities)

// Entity: ${entity.pkg.value}.${entity.name.upperCamel}
// Field count: ${entity.fields.size()}
message $entity.name.UpperCamel {
  $entity.protocolBufferFields
}

#end
