## Generates proto file
## Use ./gradlew generateProto to make java classes
##
syntax = "proto3";

import "entities.proto";
#foreach ($importable in $request.extraProtobufImports)
import $importable;
#end

option java_multiple_files = true;
option java_package = "$request.packageName.value";
option optimize_for = SPEED;

package ${request.packageName.value};

#foreach ($entity in $entities)

#if ($entity.canCreate)
message Create${entity.name.UpperCamel}Request {
  ${entity.name.UpperCamel}Proto entity = 1;
}

message Create${entity.name.UpperCamel}Response {
  //TODO: generated keys would go here
}
#end

#if ($entity.canDelete)
message Delete${entity.name.UpperCamel}Request {
  //TODO: pk fields here
}

message Delete${entity.name.UpperCamel}Response {
}
#end

#if ($entity.canFindByPK)
message FindById${entity.name.UpperCamel}Request {
  //TODO: pk fields here
}

message FindById${entity.name.UpperCamel}Response {
  // at-most-one value
  // proto3 doesn't support optional
  repeated ${entity.name.UpperCamel}Proto entity = 1;
}
#end

#if ($entity.canList)
message List${entity.name.UpperCamel}Request {
}

message List${entity.name.UpperCamel}Response {
  repeated ${entity.name.UpperCamel}Proto entity = 1;
}
#end

#if ($entity.canUpdate)
message Update${entity.name.UpperCamel}Request {
  ${entity.name.UpperCamel}Proto entity = 1;
}

message Update${entity.name.UpperCamel}Response {
}

  #foreach($field in $entity.nonPrimaryKeyFields)
  //TODO: patch ${entity.name.UpperCamel}Proto.$field.name.lowerCamel
  #end
#end
#end
