I am a template for row-mappers:

fieldCount = $entity.fields.size()

#foreach( $field in $entity.fields )
field.name=$field.name.upperCamel

field.type=$field.type
field.rdbms=$field.rdbms

// ! prints "" when no value
field.defaultValue=$!field.defaultValue

    #if($field.documentation)
    documentation = $field.documentation
    #else
    no documentation
    #end
#end
