//TODO: /home/wcarmon/git-repos/codegen/src/main/resources/templates/jdbc-template/row-mapper.kotlin.vm


see /home/wcarmon/git-repos/modern-jvm/trading-dao-jdbc/src/main/kotlin/com/wcarmon/trading/dao/rowmapper/convert.kt
