package $request.packageName.value;

import com.fasterxml.jackson.databind.ObjectWriter;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.jdbc.core.JdbcTemplate;
import org.springframework.jdbc.core.RowMapper;
#foreach ($importable in $request.extraJVMImports)
import $importable;
#end

/**
 * DAO Beans
 */
@Configuration
public class DAOImplBeans {

#foreach ($entity in $entities)
  @Bean
  ${entity.name.upperCamel}DAOImpl ${entity.name.lowerCamel}DAOImpl(
      JdbcTemplate jdbcTemplate,
      RowMapper<${entity.name.upperCamel}> rowMapper,
      ObjectWriter objectWriter) {

    return new ${entity.name.upperCamel}DAOImpl(
      jdbcTemplate,
      objectWriter,
      rowMapper);
  }

#end
}
